rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
          function isSignedIn() {
          return request.auth != null;
        }

        function getRole(rsc) {
          return rsc.data[request.auth.uid] == true;
        }

        function isOneOfRoles(rsc) {
          return isSignedIn() && (getRole(rsc));
        }
        
  	match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      match /likes/{like} {
      	allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
      }
    }	
	
    match /snippet/{snippet} {
      allow read: if true;

      allow create, 
      	update: if isOneOfRoles(get(/databases/$(database)/documents/permission/moderator));
      allow delete: if isOneOfRoles(get(/databases/$(database)/documents/permission/admin));
    }
	
	
    match /permission/{permission} {
      allow get, list: if false;

	  	allow create,update,delete: if false;
    }
	
	
    match /deleted/{deleted} {
      allow get, list: if true;
      
      allow create, update: if isOneOfRoles(get(/databases/$(database)/documents/permission/admin));
      allow delete: if false;
    }
  }
}
