<div class="container">

  <!--<button mat-raised-button color="primary">Click me!</button>-->

  <div class="actionSection">
    <button [ngClass]="{'refreshButton': true}" mat-icon-button aria-label="refresh button">
      <mat-icon [ngClass]="{'refreshButtonIcon': true}">autorenew</mat-icon>
    </button>

    <a mat-stroked-button color="primary"
       (click)="toggleEditMode()"
       href="dashboard#newSnippet"
       *ngIf="isLoggedIn() && !editMode">
      Add new
    </a>

    <div class="filterWrapper">

      <div class="filterOptions"></div>

      <button [ngClass]="{'filterButton': true}" mat-icon-button aria-label="filter button">
        <mat-icon [ngClass]="{'filterButtonIcon': true}">filter_list</mat-icon>
      </button>
    </div>
  </div>

  <ng-container id="newSnippet" #newSnippet></ng-container>
  <ng-container class="snippet mdc-elevation--z4" *ngIf="editMode">
    <csscs-edit-snippet (cancelEdit)="cancelEditMode()" (submitEdit)="addOrUpdateSnippet($event)"
                        [snippet]="editSnippet"></csscs-edit-snippet>
  </ng-container>

  <ng-container *ngIf="searchString
  && searchString.length > 1
  && (($codeSnippets | async) | csscsFilter : searchString).length < 1"
                class="mdc-elevation--z4 snippet">
    <h1>No snippets found for: {{searchString}}</h1>
    <button mat-stroked-button color="primary" (click)="setSearchString('')">
      <mat-icon>done</mat-icon>
      <span>Okay, show all</span>
    </button>
  </ng-container>

  <div class="loadingAnimation" *ngIf="!($codeSnippets | async)">
    <mat-icon aria-hidden="false" aria-label="Download">cloud_download</mat-icon>
    <mat-progress-spinner
      class="spinner"
      [color]="'primary'"
      [diameter]="300"
      [strokeWidth]="3"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>

  <csscs-snippet
    *ngFor="let snippet of ($codeSnippets | async) | csscsFilter : searchString; index as index; trackBy: identify"
    [snippet]="snippet"></csscs-snippet>

  <div class="darkmodeFab">
    <button mat-fab color="primary" (click)="toggleDarkMode()" aria-label="color toggle button">
      <mat-icon>{{darkMode ? 'brightness_high' : 'brightness_low'}}</mat-icon>
    </button>
  </div>
</div>
