<div class="container">

  <!--<button mat-raised-button color="primary">Click me!</button>-->

  <div class="actionSection" *ngIf="!editMode">
    <button [ngClass]="{'refreshButton': true}" mat-icon-button aria-label="refresh button">
      <mat-icon [ngClass]="{'refreshButtonIcon': true}"><!--autorenew--></mat-icon>
    </button>

    <div class="centre">
      <a mat-stroked-button color="primary"
         (click)="toggleEditMode(); scrollToElement(newSnippetID)"
         *ngIf="isLoggedIn() && !editMode">
        Add new
      </a>
    </div>

    <div class="right">
      <div [ngClass]="{'filterWrapper': true, ' openFilter': openFilter}">
        <div [ngClass]="{'filterOptions': true}">
          <button [ngClass]="{'filterButton': true}"
                  (click)="orderByString = 'title'"
                  mat-icon-button
                  aria-label="order by button">
            <mat-icon [ngClass]="{'filterButtonIcon': true}">arrow_drop_up</mat-icon>
          </button>
          <mat-icon [ngClass]="{'filterIcon': true}">sort_by_alpha</mat-icon>
          <button [ngClass]="{'filterButton': true}"
                  (click)="orderByString = '-title'"
                  mat-icon-button
                  aria-label="filter button">
            <mat-icon [ngClass]="{'filterButtonIcon': true}">arrow_drop_down</mat-icon>
          </button>
        </div>

        <button [ngClass]="{'filterButton': true}"
                (click)="toggleFilter()"
                mat-icon-button
                color="primary"
                aria-label="filter button">
          <mat-icon [ngClass]="{'filterButtonIcon': true}">filter_list</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-container id="newSnippet" #newSnippetID></ng-container>
  <ng-container class="snippet mdc-elevation--z4" *ngIf="editMode">
    <csscs-edit-snippet (cancelEdit)="cancelEditMode()" (submitEdit)="addOrUpdateSnippet($event)"
                        [snippet]="editSnippet"></csscs-edit-snippet>
  </ng-container>

  <ng-container *ngIf="searchString
  && searchString.length > 1
  && ($codeSnippets | async)
  && (($codeSnippets | async) | csscsFilter : searchString)
  && (($codeSnippets | async) | csscsFilter : searchString).length < 1"
                class="mdc-elevation--z4 snippet">
    <h1>No snippets found for: {{searchString}}</h1>
    <button mat-stroked-button color="primary" (click)="setSearchString('')">
      <mat-icon>done</mat-icon>
      <span>Okay, show all</span>
    </button>
  </ng-container>

  <div class="loadingAnimation" *ngIf="!($codeSnippets | async)">
    <mat-icon aria-hidden="false" aria-label="Download">cloud_download</mat-icon>
    <mat-progress-spinner
      class="spinner"
      [color]="'primary'"
      [diameter]="300"
      [strokeWidth]="3"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>

  <!--isElementInViewport(test)-->

  <csscs-snippet
    *ngFor="let snippet of ($codeSnippets | async) | csscsFilter : searchString | orderBy: orderByString;
    index as index; trackBy: identify"
    [snippet]="snippet" (snippetEditAction)="snippetEdit(snippet)"></csscs-snippet>

  <div class="darkmodeFab">
    <button mat-fab color="primary" (click)="toggleDarkMode()" aria-label="color toggle button">
      <mat-icon>{{darkMode ? 'brightness_high' : 'brightness_low'}}</mat-icon>
    </button>
  </div>
</div>
