<div class="container">

  <!--<button mat-raised-button color="primary">Click me!</button>-->

  <div *ngIf="isLoggedIn()">
    Add new
  </div>

  <div *ngFor="let snippet of codeSnippets" class="snippet">
    <h1 class="header">{{snippet.title}}</h1>
    <div class="main">
      <p>{{snippet.desc}}</p>
    </div>
    <div class="code">
      <div class="block result">
        <!--
          <div
          [innerHTML]="makeHtmlTrusted(snippet.code.htmlSource)"
          class="innerHtml"
          [style]="makeStyleTrusted(snippet.code.cssSource)">
        </div>-->
        <csscs-snippet [snippet]="snippet"></csscs-snippet>

      </div>
      <!--<code class="source">{{snippet.code.html}}</code>-->
      <div class="block source">

        <csscs-source [snippet]="snippet"></csscs-source>

      </div>
    </div>
    <div class="footer">Bla bla</div>
  </div>

  <!--
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>-->

</div>
