<div class="outer">
  <div class="wrapper1">
    <div>The smart, markup-saving addition of SVG into the :after pseudo-element is courtesy of Saadat. The original
      version included additional background properties to contain the size of the SVG and prevent it from repeating,
      but I didn't find them totally necessary, at least in this context. However, notice that the SVG markup properly
      uses the focusable attribute to prevent it from being included on keyboard tab. Nice moves! 👏
    </div>
  </div>

  <div class="wrapper1">
    <div class="wrapper11">
      <div>
        <div>Content</div>
      </div>
    </div>
    <div class="wrapper12">
      <div>
        <span>The smart, markup-saving addition of SVG into the :after pseudo-element is courtesy of Saadat. The original version included </span>
        <div>The smart, markup-saving addition of SVG into the :after pseudo-element is courtesy of Saadat. The original
          version included additional background properties to contain the size of the SVG and prevent it from
          repeating, but I didn't find them totally necessary, at least in this context. However, notice that the SVG
          markup properly uses the focusable attribute to prevent it from being included on keyboard tab. Nice moves!
          👏
        </div>
      </div>
    </div>
  </div>
</div>
