@import "~src/styles";

.googleBtn {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  padding: 0 1em 0 0;
}

.signinPage {
  @include flex-center;
}

.signinWrapper {
  @include flex-center;

  padding: 1em;
  border-radius: $borderRadius;
  background-color: #FFFFFF;

  .authBlock {
    @include flex-center;
  }
}
