@import "~src/styles";

nav {
  background-color: calculateElevation(10);

  padding: 0.3em 0;

  @media screen and (min-width: 768px) {
    padding: 0.3em 2em;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .formFieldNoHint {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .links {
    a {
      color: #FFFFFF;
    }
  }
}
