@import "~src/styles";

.snippet {
  position: relative;
  border-radius: $mediumBorderRadius;
  background-color: calculateElevation(6);
  min-height: 5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .button {
    z-index: 1;
  }

  .snippetActions {
    display: flex;

    .snippetLikeButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-bottom: auto;

      .sparkleAnimation {
        display: none;
        position: absolute;
        z-index: 0;

        &.liked {
          //display: flex;
          //@include flex-center;
          transform: rotateZ(180deg);
          animation: sparkleAnimation .2s ease-out;
          stroke-dasharray: 20;
          stroke-dashoffset: 20;
          width: 2.2em;
          height: 2.5em;
          display: flex;
          z-index: 0;
        }
      }

      .liked {
        z-index: 1;
        animation: pulseAnimation .2s;
      }

    }
  }

  .block {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-between;
    border-radius: $mediumBorderRadius;

    &.details {
      display: grid;
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 1fr;


      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .main {
        opacity: 1;
        @include transition;
      }

      .code {
        width: 100%;
        max-width: 100%;
        overflow: auto;
        opacity: 1;
        @include transition;

        .result {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          overflow: auto;

          .snippetWrapper {
            min-height: 15em;
            max-width: 100%;
            background-color: rgb(255, 255, 255);
            color: #000;
            border-radius: $mediumBorderRadius;
            z-index: 1;

            @include flex-center;

            @include transition;

            &.nightMode {
              @include transition;
              background-color: rgba(0, 0, 0, 0);
              color: #FFF;
            }
          }

          csscs-result {
            margin: auto;
          }
        }
      }

      .footer {
        opacity: 1;
        padding: 1em 0;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include transition;

        .snippetTags {
          margin: 0.25em;
          color: $CSSCheatSheet-primaryColor;
          padding: 0.2em 0.6em;
          border: 1px solid $CSSCheatSheet-primaryColor;
          border-radius: $borderRadius;
          background: none;
          text-decoration: none;
          box-shadow: none;

          &:hover {
            background-color: $CSSCheatSheet-primaryColor;
            color: #FFFFFF;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }

    &.source {
      border-radius: $mediumBorderRadius;
      background-color: #131313;
    }
  }

  .deleteConfirmation {
    display: none;
    opacity: 0;
    @include transition;
  }

  &.deleteMode {
    .block {
      .main, .code, .footer, &.source {
        opacity: 0;
        @include transition;
      }
    }

    .deleteConfirmation {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      bottom: 0;
      height: 80%;
      width: 100%;
      opacity: 1;
      @include transition;

      .confirmationWrapper {
        margin: auto;
        width: 100%;

        @include flex-center;

        .buttonBar {
          button {
            margin: 1em;
          }
        }
      }
    }
  }

  .deleteAnimation {
    @include transition;
    opacity: 1;

    @include flex-center;

    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;

    text-align: center;

    .material-icons {
      font-size: 10em;
      width: 100%;
      height: 100%;
      margin: 3em;
    }

    .spinner {
      position: absolute;
    }
  }
}


.loadingAnimation {
  position: relative;
  bottom: 0;
  height: 80%;
  width: 80%;
  text-align: center;
  margin: auto;

  @include flex-center;


  .material-icons {
    font-size: 10em;
    width: 100%;
    height: 100%;
    margin: 1em;
  }

  .spinner {
    position: absolute;
  }
}


@keyframes shake {
  0% {
    transform: translate(-1px, 0) rotate(-1deg) skewX(5deg);
  }
  33% {
    transform: translate(1px, 0px) rotate(1deg) skewX(-5deg);
  }
  66% {
    transform: translate(-2px, -1px) rotate(-1deg) skewX(5deg);
  }
  100% {
    transform: translate(2px, -1px) rotate(2deg) skewX(-5deg);
  }
}

@keyframes pulseAnimation {
  from {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }

}

@keyframes sparkleAnimation {
  from {
    stroke-dashoffset: -20;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 20;
    opacity: 0;
  }
}
